.post {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 24px;
}

.post-image {
  max-width: 100%;
  transition: transform 250ms ease-in-out;
}

.post-image:hover {
  transform: scale(1.05);
}

.post-content {
  padding: 16px 0;
}