.search-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  background-image: url('../../assets/search.png');
  background-repeat: no-repeat;
  background-position:  8px 8px;
  border-radius: 16px;
  border: 2px solid #fff;
  outline: 0;
  font-size: medium;
  color: grey;
  margin: 16px 0;
  padding: 8px 8px 8px 36px;
  width: 100%;
}

.search-input:focus {
  border: 2px solid #fff;
}